body {
  background-color: #121212;
  font-family: "Courier New", Courier, monospace;
}
button {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: medium;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container button {
  margin: 2px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1e1e1e;
  padding: 1vh;
  border-radius: 5px;
  gap: 20px;
}

nav a {
  color: #e0e0e0;
  text-decoration: none;
}

h1 {
  color: #e0e0e0;
  font-size: large;
  text-align: center;
}

input {
  color: gray;
  font-family: "Courier New", Courier, monospace;
}

.responseArea {
  color: #e0e0e0;
  font-size: medium;
}

.filter {
  color: #e0e0e0;
  font-size: medium;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.filter input {
  margin: 2px;
  justify-content: center;
}

.filter div {
  color: #e0e0e0;
  font-size: medium;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
}

.commands {
  color: #e0e0e0;
  font-size: medium;
  margin: 2px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.commands li {
  border: 1px solid #061772;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
